*{
    /* border:solid 1px red; */
}


.LogoText{
  
    display: none;
    position: fixed;
    top: 29px;
    left: 30px;
    z-index: 202;

}

@media only screen and (max-width:767px) {
    
    .LogoText{
  
        display: block;
        position: fixed;
        top: 29px;
        left: 30px;
        z-index: 202;
    
    }
}